/* FOR MOBILE VIEW, DIFFERENT CSS FOR DESKTOP VIEW */
#bookings-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-title {
    margin-top: 80px;
    width: 100vw;
    max-height: 100px;
    display: flex;
    /* align-items: center; */
    /* margin-bottom: auto; */
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    /* background-color: blue; */
}

#filter-pane {
    width: 100vw;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: auto; */
}

#bookings-list {
    margin-bottom: auto;
}