/* FOR MOBILE VIEW, DIFFERENT CSS FOR DESKTOP VIEW */
#bookings-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#page-title {
    margin-top: 80px;
    width: 100vw;
    max-height: 100px;
    display: flex;
    /* align-items: center; */
    /* margin-bottom: auto; */
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    /* background-color: blue; */
}

#filter-pane {
    width: 100vw;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: auto; */
}

#bookings-list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.booking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-single {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 90vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#room-number {
    background-color: #b9b9b9;
    padding: 20px;
}

#middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#amount {
    background-color: #b9b9b9;
    padding: 20px;
}