#navbar {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 5vh;
    max-height: 100px;
}

.logo {
    padding: 10px;
    font-weight: bolder;
}

.links {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul li {
    float: right;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: white;
    color: orangered;
}