#navbar {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 5vh;
    max-height: 100px;
}

.logo {
    padding: 10px;
    font-weight: bold;
}

.links {
    padding: 10px;
}