.room-card {
    width: 85vw;
    height: 85vh;
    max-width: 700px;
    max-height: 800px;
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* right: 0; */
    /* bottom: 0; */
    /* display: none; */
}

#room-name {
    /* align-self: top; */
    /* margin-top: 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
    width: 55vw;
    align-items: center;
    max-width: 700px;
    max-height: 100px;
    font-weight: bolder;
    /* background-color: blue; */
}

#room-details {
    background-color: blue;
    padding: 20px;
    margin: 20px;
    width: 55vw;
    max-width: 650px;
    max-height: 700px;
}

.assign-room-card {
    width: 85vw;
    height: 85vh;
    max-width: 700px;
    max-height: 800px;
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#assign-room-details {
    /* padding: 20px; */
    /* margin: 20px; */
    width: 55vw;
    height: 60vh;
    max-width: 650px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: black; */
    align-items: center;
}


#assign-room-details {
    margin-top: 15px;
}

.status-input {
    justify-content: space-around;
}

.text-input {
    width: 70vw;
    max-width: 600px;
    padding: 10px;
    margin: none;
}

.room-details-buttons {
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
    width: 55vw;
    align-items: center;
    max-width: 700px;
    max-height: 100px;
    font-weight: bolder;
    gap: 10px;
}
