.room-card {
    width: 85vw;
    height: 90vh;
    max-width: 700px;
    max-height: 800px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#room-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
    width: 55vw;
    align-items: center;
    max-width: 700px;
    max-height: 100px;
    font-weight: bolder;

}

#room-details {
    padding: 20px;
    margin: 20px;
    width: 55vw;
    max-width: 650px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-input {
    justify-content: space-around;
}

.text-input {
    width: 60vw;
    max-width: 500px;
    padding: 10px;
}

.room-details-buttons {
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
    width: 55vw;
    align-items: center;
    max-width: 700px;
    max-height: 100px;
    font-weight: bolder;
    gap: 10px;
}
